.section {
  padding: 125px 0;

  &-bg {
    background-color: var(--color-bg);
    padding: 80px 0;
  }
}

.block {
  &__icon {
    background-color: #ADD4F9;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }
}

.news {
  &__item {
    overflow: hidden;
    border-radius: 6px;
    transition: all .3s linear;

    &:hover {
      .news__item-photo {
        img {
          transform: scale(1.1);
        }
      }
    }

    &-photo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 6px 6px 0 0;

      img {
        width: 100%;
        height: 100%;
        max-height: 290px;
        object-fit: cover;
        transition: all .3s linear;
      }

    }

    &-content {
      background-color: var(--color-bg);
      padding: 30px;
    }
  }

  &__slider {
    &-bottom {
      width: 100%;
      display: flex;
      padding-left: 50%;

      button {
        margin-left: auto !important;
      }
    }
  }
}

