@media (max-width: 1540px) {
}

@media (max-width: 1240px) {
  .my-container {
    max-width: 991px;
  }

  .section {
    padding: 60px 0;
  }

  .section-bg {
    padding: 60px 0;
  }


}

@media (max-width: 991px) {
  .my-container {
    max-width: 100%;
  }


}

@media (max-width: 768px) {

  .section {
    padding: 30px 0;
  }

  .section-bg {
    padding: 30px 0;
  }

}

@media (max-width: 500px) {
}