@media (max-width: 1540px) {
}

@media (max-width: 1240px) {
  .my-container {
    max-width: 991px;
  }
}

@media (max-width: 991px) {
  .my-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
}